body { background-color: gray; }
nav ul li {
    display: inline;
}
a:hover
{
Background-color: #00BFFF;
color: purple;
transition: all 1s;
}
img {
    width: 200px;
    height: 200px;
}

div.container{
background-color: red;
display: flex;
flex-direction: row-reverse;}